.git
.github

.env
.env.*
!.env.example

.venv
venv

__pycache__
*.pyc
*.pyo
.pytest_cache

mlflow.db
mlruns
mlartifacts

data/raw/*
data/processed/*

models/*
reports/*

.vscode
.idea
notebooks
tests

.DS_Store
Thumbs.db
desktop.ini